{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Learn With Kryon Admin') }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/png" sizes="256x256" href="{% static 'admin/img/favicon-rounded.png' %}">
<link rel="apple-touch-icon" sizes="256x256" href="{% static 'admin/img/favicon-rounded.png' %}">
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}
